.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 24px 0 24px;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 500px;
  gap: 12px;
}

.personal-details-inputs {
  padding: 18px;
}

.container {
  background-color: white;
  border-radius: 12px;
}

.education-inputs.closed {
  opacity: 0;
  visibility: hidden;
}

.expand-education-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 24px;
}

.education-details-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.chevron {
  transition: transform 0.3s;
}

.chevron.closed {
  transform: rotate(180deg);
}
