.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 24px 0 24px;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 500px;
  gap: 12px;
}

.personal-details-inputs {
  padding: 18px;
}

.container {
  background-color: white;
  border-radius: 12px;
}

.expand-add-education-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 24px;
}

.main-education-content.closed {
  display: none;
}

.add-education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-education-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.chevron {
  transition: transform 0.3s;
}

.chevron.closed {
  transform: rotate(-180deg);
}

.create-education-form {
  background-color: transparent;
  padding: 8px 18px;
  border-radius: 69420px;
  border: 4px solid rgb(238, 240, 244);
  font-family: "NotoSans-SemiBold";
  margin-bottom: 18px;
}

.create-education-form i {
  margin-right: 8px;
}
