.collapsed-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 5px solid rgb(243, 244, 246);
  border: none;
  padding: 16px 24px;
  width: 100%;
  height: 69px;
  background-color: white;
}

.collapsed-form-title {
  font-family: "NotoSans-semibold";
  font-size: 17px;
}

.eye {
  color: rgb(77, 77, 77);
  transition: 0.2s;
  font-size: 18px;
  width: 22.5px;
}

.eye:hover {
  color: black;
}
