.experience-info {
  display: flex;
  gap: 18px;
  margin-bottom: 24px;
}

.experience-info-group {
  min-width: 150px;
}

.experience-info-companyName {
  font-family: var(--resume-bold);
  font-weight: bold;
  margin-bottom: 2px;
}

.experience-info-positionTitle {
  font-size: 15.4px;
}

.experience-info-description {
  margin-top: 4px;
  white-space: pre-wrap;
}
