@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
  font-family: "NotoSans-SemiBold";
  src: url(../fonts/NotoSans-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSans", sans-serif;
}

body {
  --main-bg-color: #f3f4f6;
  --main-resume-color: rgb(14, 55, 78);
  background-color: var(--main-bg-color);
}

h1,
h2,
h3 {
  margin-bottom: 14px;
  font-family: "NotoSans-bold";
}
