input {
  border: 2px solid #eee;
  padding: 10px;
  border-radius: 12px;
  transition: 0.25s;
}

input:focus {
  border-color: rgb(59, 131, 246);
  outline: none;
  box-shadow: 0px 3px 15px rgba(59, 131, 246, 0.2);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
}

.education-dates {
  display: flex;
  gap: 8px;
}
