.resume {
  background-color: white;
  flex-grow: 2;
  min-width: 400px;
  max-width: 800px;
  overflow-wrap: anywhere;
}

.section {
  padding: 0 56px;
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
  text-align: center;
  border-radius: 2px;
  padding: 2px 0;
  background-color: rgba(14, 55, 78, 0.07);
  color: var(--main-resume-color);
}
