.resume {
  background-color: white;
  padding: 24px;
  flex-grow: 2;
  min-width: 400px;
  max-width: 800px;
  overflow-wrap: anywhere;
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

.resume-name {
  text-align: center;
}

.contact-info > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}
