.template-loader {
  padding: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: sticky;
  top: 8px;
  z-index: 3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.template-loader button {
  font-size: 13.5px;
  border-radius: 4px;
  border: none;
  font-family: "NotoSans-bold";
  flex-grow: 1;
  transition: 0.1s;
}

.template-loader button:active {
  scale: 0.95;
}

.template-loader .load-example {
  padding: 6px;
}

.template-loader .clear-resume {
  background-color: transparent;
  color: #b91c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
