.accent-color {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 17px;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 999px;
  padding: 0;
  cursor: pointer;
  box-shadow: rgb(149, 157, 165) 0px 8px 24px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 999px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 999px;
  padding: 0;
}
